div.MobileClient
{
  padding: 2px 0;
}

tr.MobileClient
{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse; 
}

.StatusActive
{
  background-color: greenyellow;
}

.StatusBlocked
{
  background-color: red;
}

.EditButton {

  padding: 7px 15px;
  text-align: center;
  font-size: 14px;
}

.DeleteButton {

  padding: 7px 15px;
  text-align: center;
  font-size: 14px;
}